* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  height: 100vh;
  background-color: #01171b;
  background-image: url("images/OIG11.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
}

.form-container {
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #296889;
  border-radius: 5px;
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
  background-color: gold;
  color: black;
}

input[type="submit"]:hover {
  background-color: goldenrod;
}

.register-btn {
  display: block;
  text-align: center;
  padding: 0.5rem;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.register-btn:hover {
  background-color: grey;
}

.error-box {
  background-color: red;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-align: center;
}

input.error {
  border: 2px solid red;
}

.form-inputs div {
  margin-bottom: 12px;
}

/*----------------------Navigation-----------------------*/
nav {
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
nav .logo img {
  width: 300px;
  margin: 10px;
  cursor: pointer;
  padding-left: 20px;
}
nav .mainMenu {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

nav .mainMenu li a {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
nav .mainMenu li a:hover {
  color: darkgreen;
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
  color: black;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-twitter:hover {
  color: white;
}
.fa-github:hover {
  color: white;
}
.fa-discord:hover {
  color: white;
}
.fa-instagram:hover {
  color: white;
}
/*---------------Mobile Navigation------------------*/
@media only screen and (max-width: 800px) {
  nav .mainMenu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1050;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
    /*----Glass for mobile view----*/
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    border: 1px solid rgba(0, 0, 0, 0.125);
    /*----------------------------*/
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: white;
    font-size: 1.6rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
  nav .logo img {
    width: 300px;
    padding-top: 30px;
    cursor: pointer;
  }
}
/*-----------------End of Navigation---------------------*/
